.Heder {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  align-items: center;
  width: 45px;
  padding: 20px;
  border-right: 2px solid #f1f1f1;
  position: relative;
  background-color: white;


  .RestingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

    border: 2px solid transparent;
    box-sizing: border-box;
  }

  .RestingContainer.active {
    border-color: #c30000;
  }

  .RestingContainer.active::after {
    content: "";
    position: absolute;
    top: 0;
    right: -22px;
    width: 2px;
    height: 100%;
    background-color: #c30000;
    border-radius: 2px;
  }

  .Exit {
    position: absolute;
    bottom: 2vw;
  }
}
