.Union {
  background-color: #ececec;
  display: flex;
  width: 100%;
  height: 58vw;
  padding: 30px 20px;

  a {
    text-decoration: none;
    .contai_cart {
      display: flex;
      gap: 7.7vw;
      width: 100%;

      .cart_bottom {
        display: flex;
        flex-direction: column;
        gap: 20px;

        button {
          background-color: #61dc81;
          border: none;
          color: white;
          padding: 1vw 4vw;
          border-radius: 10px;
          white-space: nowrap;
        }

        .title {
          display: flex;
          flex-direction: column;
          gap: 5px;
          border-left: solid 2px #61dc81;
          padding: 20px;
          border-radius: 5px;
          background-color: white;

          h3 {
            font-size: 20px;
            font-weight: 700;
            color: #1c1d21;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            color: #8181a5;
          }

          span {
            font-size: 12px;
            font-weight: 400;
            color: #c30000;
            padding-bottom: 15px;
          }

          .contai_don {
            display: flex;
            flex-direction: column;
            flex-direction: 10px;
            padding-bottom: 15px;
            gap: 10px;

            p {
              font-size: 14px;
              font-weight: 400;
              color: #8181a5;
              display: flex;
              align-items: center;
              gap: 10px;

              img {
                width: 1vw;
              }
            }
          }

          .price {
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
