.Profil {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: #ffffff;

  @media (max-width: 600px) {
    padding-bottom: 50px;
  }

  h1 {
    font-size: 20px;
    font-weight: 700;
    color: #1c1d21;
  }

  .top {
    display: flex;
    align-items: center;
    gap: 45px;

    h1 {
      font-size: 26px;
      font-weight: 600;
      line-height: 38px;
    }
  }

  .contai_input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    .cart {
      display: flex;
      flex-direction: column;
      padding: 15px;
      width: 280px;
      background-color: #f5f5fa66;
      border-radius: 10px;
      gap: 5px;

      input {
        border: none;
        color: #8181a5;
        font-size: 12px;
        font-weight: 400;
        outline: none;
        padding-bottom: 0;
      }

      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
}
